{% extends "home.html" %}

{% block title %}
GENERATE
{% endblock %}

{% block content %}

<h1>Generate your time off request</h1>
<form action="/generate-doc" method="POST">
    
    <label for="emp_name">Name:</label>
    <input type="text" id="emp_name" name="emp_name" required><br><br>

    <label for="date">Date:</label>
    <input type="text" id="todays_date" name="todays_date" required><br><br>

    <label for="super_name_one">Supervisor:</label>
    <input type="text" id="super_name_one" name="super_name_one" required><br><br>

    <label for="super_name_two">Supervisor:</label>
    <input type="text" id="super_name_two" name="super_name_two" required><br><br>

    <label for="badge">Badge:</label>
    <input type="text" id="badge" name="badge" required><br><br>

<!-- Added on 02 06 2025 -->

    <label for="start_date">I would like to take time off beginning:</label>
    <input type="text" id="start_date" name="start_date" required><br><br>
        
    <label for="return_date">I will return to work on:</label>
    <input type="text" id="return_date" name="return_date" required><br><br>
        
    <label for="vac_hours">Vacation (VAC) - Total VAC Hours:</label>
    <input type="text" id="vac_hours" name="vac_hours" required><br><br>
        
    <label for="cva_hours">Casual Vacation (CVA) - Total CVA Hours:</label>
    <input type="text" id="cva_hours" name="cva_hours" required><br><br>
        
    <label for="vac_cva_actual">Actual Dates requested off:</label>
    <input type="text" id="vac_cva_actual" name="vac_cva_actual" required><br><br>

    <label for="hfl_hours">Floating Holiday (HFL) – Total HFL Hours:</label>
    <input type="text" id="hfl_hours" name="hfl_hours" required><br><br>
    
    <label for="efh_hours">Emergency Floating Holiday (EFH) – Total EFH Hours:</label>
    <input type="text" id="efh_hours" name="efh_hours" required><br><br>

    <label for="hfl_efh_actual">Actual Dates requested off:</label>
    <input type="text" id="hfl_efh_actual" name="hfl_efh_actual" required><br><br>

    <label for="cto_hours">Comp Time Off (CTO) – Total CTO Hours:</label>
    <input type="text" id="cto_hours" name="cto_hours" required><br><br>

    <label for="cto_actual">Actual Dates requested off:</label>
    <input type="text" id="cto_actual" name="cto_actual" required><br><br>

    <label for="sick_start_date">I was off sick beginning through:</label>
    <input type="text" id="sick_start_date" name="sick_start_date" required><br><br>

    <label for="sick_hours">SICK (SCK) – Total SCK Hours:</label>
    <input type="text" id="sick_hours" name="sick_hours" required><br><br>

    <button type="submit">Generate and Download</button>
</form>

{% endblock %}