
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Time Off Request{% endblock %}</title>
</head>
<body>

    <h2>TIME OFF REQUEST</h2>
    <p><h3>{{ current_date_time }}</h3></p>

    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('form') }}">Generate your request</a>
        <a href="{{ url_for('past_request') }}">Past requests</a>
    </nav>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

</body>
</html>