
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TIME OFF{% endblock %}</title>
</head>
<body>

    <h2>TIME OFF REQUEST</h2>
    <p><h3>{{ current_date_time }}</h3></p>

    <nav>
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('form') }}">GENERATE</a>
        <a href="{{ url_for('past_request') }}">LOG IT UP</a>
        <a href="{{ url_for('log') }}">YOUR LOG</a>
    </nav>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

</body>
</html>