

<h1>Generate your time off request</h1>
<form action="/generate-doc" method="post">
    
    <label for="emp_name">Name:</label>
    <input type="text" id="emp_name" name="emp_name" required><br><br>

    <label for="date">Date:</label>
    <input type="text" id="todays_date" name="todays_date" required><br><br>

    <label for="super_name_one">Supervisor:</label>
    <input type="text" id="super_name_one" name="super_name_one" required><br><br>

    <label for="super_name_two">Supervisor:</label>
    <input type="text" id="super_name_two" name="super_name_two" required><br><br>

    <label for="badge">Badge:</label>
    <input type="text" id="badge" name="badge" required><br><br>




    <button type="submit">Generate and Download</button>
</form>