{% extends "home.html" %}

{% block title %}
LOG IT UP OR DONT
{% endblock %}

{% block content %}

    <title>LOG IT UP</title>
</head>
<body>
    <h1>Submit for your records</h1>
    <form action="/records" method="POST">
        
        <label for="name">Time OFF used:</label>
        <input type="text" id="name" name="pto" required><br>

        <label for="email">Hours used:</label>
        <input type="text" id="email" name="hours" required><br>

        <label for="email">ON WHAT DATE:</label>
        <input type="text" id="email" name="date" required><br>


        <input type="submit" value="Submit">
    </form>
</body>
</html>

{% endblock %}

